<% pins.each do |pin| %>
  <% next unless pin.user %>

  <% if pin.user %>
    <div class="board">
      <img src="<%= pin.user.image %>"> 
      <% if pin.status == "todo" %>
        wants to learn
      <% elsif pin.status == "doing" %>
        is learning 
      <% else %>
        learned 
      <% end %>
      <%= render pin.item %>
    </div>
  <% end %>
<% end %>
