console.log('pin created; updating page elements');
$('.pin-button-' + <%= @item.id %>).replaceWith('<button class="btn disabled"><i class="icon-ok"></i> Pinned!</button>');
$('.pin-stream-' + <%= @item.id %>).replaceWith("<span class='label label-inverse'><%= @pin.stream_name %></span>");
