<div class="row" id="pin-kanban">
  <div class="span4">
    <div class="board">
      <h2>To do</h2>
      <div id="todo-items" data-status="todo" class="sortable-board">
        <%= render @pins.todo %>
        <div>&nbsp;</div>
      </div>
    </div>
  </div>
  
  <div class="span4">
    <div class="board">
      <h2>Doing</h2>
      <div id="doing-items" data-status="doing" class="sortable-board">
        <%= render @pins.doing %>
        <div>&nbsp;</div>
      </div>
    </div>
  </div>

  <div class="span4">
    <div class="board">
      <h2>Done</h2>
      <div id="done-items" data-status="done" class="sortable-board">
        <%= render @pins.done %>
        <div>&nbsp;</div>
      </div>
    </div>
  </div>
</div>

<hr>
<h3>Add an item</h3>

<%= render 'items/form' %>
