<div class="row">
  <div class="span4">
    <h2>To do</h2>
    <%= render @pins.todo %>
  </div>
  
  <div class="span4">
    <h2>Doing</h2>
    <%= render @pins.doing %>
  </div>

  <div class="span4">
    <h2>Done</h2>
    <%= render @pins.done %>
  </div>
</div>

<hr>
<h3>Add an item</h3>

<%= render 'items/form' %>
