<div class="comment">
  <%= link_to comment.user do %>
    <img src="<%= comment.user.image %>">
  <% end %>

  <div class="comment-contents">
    <strong><%= link_to comment.user %></strong>
    <p><%= comment.content %></p>
  </div>
</div>
