<div class="row">
  <div class="span4">
    <% @pins.each do |pin| %>
      <% next unless pin.user %>

      <div class="board">
        <img src="<%= pin.user.image %>"> <strong><%= link_to pin.user, public_library_url(pin.user) %></strong>
        <% if pin.status == "todo" %>
          wants to learn
        <% elsif pin.status == "doing" %>
          is learning 
        <% else %>
          learned 
        <% end %>
        <%= render pin.item %>
      </div>
    <% end %>
  </div>
</div>
