<div class="row">
  <h2>Check out what <%= @user %> is learning!</h2>
  <div class="span4">
    <div class="board">
      <h2>To learn</h2>
      <hr />
      <div id="public-todo-items">
        <%= render @pins.todo %>
        <div>&nbsp;</div>
      </div>
    </div>
  </div>

  <div class="span4">
    <div class="board">
      <h2>Learning</h2>
      <hr />
      <div id="public-doing-items">
        <%= render @pins.doing %>
        <div>&nbsp;</div>
      </div>
    </div>
  </div>

  <div class="span4">
    <div class="board">
      <h2>Learned</h2>
      <hr />
      <div id="public-done-items">
        <%= render @pins.done %>
        <div>&nbsp;</div>
      </div>
    </div>
  </div>

</div>


