<% unless streams.empty? %>
  <p>This stream receives updates from</p>
  <ul>
    <% streams.each do |source| %>
      <li data-forkid="<%= @stream.back_forks.find_by_source_id(source).id %>">
      <% if source.user == current_user %>
        Your 
      <% else %>
        <%= link_to source.user.display_name, source.user %>'s 
      <% end %>
      stream, <%= link_to source.name, source %>

      <% if @stream.user == current_user %>
        <%= render partial: 'streams/unfork', locals: { source: source } %>
      <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>This stream is not forked from anything! Forking allows you to receive learning updates from different sources in a single stream.</p>
<% end %>

