<h2>Make your own stream</h2>
<div style="text-align:center;">
<%= form_for(current_user.streams.build, :html => { :class => "form-search" }) do |f| %>
  <%= f.text_field :name, { :class => 'input-medium' } %>
  <%= f.submit "Create", :class => 'btn btn-primary' %>
<% end %>
</div>
