<div class="row-fluid">
  <div class="span2">
    <h2 style="text-align:right;"><%= link_to stream.name, stream %></h2>
  </div>

  <div class="span8">
    <% @stream = stream %>
    <div class="row-fluid">
      <% if stream.user == current_user %>
        <% stream.pins.todo.limit(4).each do |pin|  %>
          <%= render partial: 'pins/pin_mini', locals: { pin: pin } %>
        <% end %>
      <% else %>
        <% stream.pins.limit(4).each do |pin|  %>
          <%= render partial: 'pins/pin_mini', locals: { pin: pin } %>
        <% end %>
      <% end %>
    </div>
    <hr>
  </div>
</div>
