<div class="row">
  <div class="span12">
    <% if current_user %>
      <h2>You're learning</h2>
      <% if current_user.streams.count > 0 %>
        <%= render current_user.streams %>
      <% else %>
        Nothing yet!
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div class="well">
      <% if current_user %>
        <%= render 'form' %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h2>Explore streams</h2>
    <ul>
      <%= render @streams %>
    </ul>

  </div>
</div
