<% if current_user %>
<h2>Your courses</h2>
  <% if current_user.streams.count > 0 %>
    <%= render current_user.streams %>
  <% else %>
    Nothing yet!
  <% end %>
<% end %>

  <%= render 'form' %>
<% end %>
<hr>

<h2>Browse existing courses</h2>
<%= render @streams %>
