<div class="row-fluid">
  <div class="span10" id="page-column">
    <h1>About Learnstream</h1>

    <h3>The dream</h3>

    <p>We want to help you get more out of learning from the web.</p>

    <h3>The team</h3>

    <p>We are a couple of hackers passionate about learning and learning technology.</p>
    <p><i class="icon-arrow-right"></i> <strong><%= link_to "Ryan Muller", "http://www.learnstream.org/" %></strong> is a graduate student of Human Computer Interaction at <%= link_to "Carnegie Mellon University", "http://www.hcii.cmu.edu/" %>. He likes to play DDR.</p>

    <p><i class="icon-arrow-right"></i> <strong><%= link_to "Neal Pisenti", "http://npisenti.github.com/" %></strong> will be a physics graduate student at the <%= link_to "University of Maryland", "http://physics.umd.edu/" %> come September. He often enjoys crappy movies.</p>

    <br />

    <p><strong>We'd love to hear from you!</strong> Email us at <a href="mailto:support@learnstream.org">support@learnstream.org</a>.
  </div>
</div>
