<div class=row">
  <div class="span10" id="page-column">
    <h1>Tools</h1>

    <h3>Bookmarklet</h3>

    <p>Drag the link below to your bookmark toolbar. Click it to add a page to your Learnstream library.</p>

    <p><a href="javascript:(function(){var%20url=encodeURIComponent(document.location.href),name=document.title;window.open('http://www.learnstream.org/items/new%3Furl='+url+'%26name='+name,'_blank','toolbar=0,scrollbars=no,resizable=1,status=1,width=480,height=510');})();" class="btn disabled">Add to Learnstream</a></p>

    <h3>Data export</h3>

    <p>You can access your own pins (while logged in) in JSON format at: </p>

    <pre>http://www.learnstream.org/my_streams.json</pre>
  </div>
</div>
