<% [0,1,2,3].each do |i| %>
  <div class="col-md-3 scroll-col">
    <% @tags[i*4..i*4+3].each do |tag| %>
      <%= render :partial => 'tags/board', :locals => { :tag => tag } %>
    <% end %>
  </div>
<% end %>
<div id="loader"></div>

