<% [0,1,2].each do |i| %>
  <div class="span4 scroll-col">
    <% @tags[i*3..i*3+2].each do |tag| %>
      <%= render :partial => 'tags/board', :locals => { :tag => tag } %>
    <% end %>
  </div>
<% end %>
<div id="loader"></div>

