<div class="row-fluid item-task<%- if pin.completed_at %> completed<% end %>" data-id="<%= pin.id %>">
  <div class="span2 pin-micro">
    <img src="<%= pin.item.thumb_url %>">
  </div>
  <div class="span10">
    <%= link_to pin.item.name, pin_stream_path(@stream, pin), remote: true, class: 'pin-link' %>
  </div>
</div>
