<% if controller.class.to_s == "PinsController" && controller.action_name.to_s == "index" %>
  <%= form_for(current_user.pins.find_by_item_id(item), { :html => { "data-item_id" => item.id }, method: :delete}) do |f| %>
    <button class="btn btn-small"><i class="icon-remove"></i> Remove</button>
  <% end %>
<% else %>
  <button class="btn disabled"><i class="icon-ok"></i> Pinned!</button>
<% end %>
