<% if controller.class.to_s == "PinsController" && controller.action_name.to_s == "index" %>
  <%= form_for(item.user_pin(current_user), { :html => { "data-item_id" => item.id }, method: :delete, :remote => true}) do |f| %>
    <button class="btn btn-small unpin-button-<%= item.id %>"><i class="icon-remove"></i> Remove</button>
  <% end %>
<% else %>
  <% if item.user_pin(current_user) and item.user_pin(current_user).stream %>
    <%= link_to item.user_pin(current_user).stream_name, stream_path(item.user_pin(current_user).stream), class: 'label label-inverse' %>
  <% end %>
  <button class="btn disabled"><i class="icon-ok"></i> Pinned!</button>
<% end %>
