<% unless current_user %>
  <div class="hero-unit">
    <h1>Learnstream</h1>
    <p>Come learn with us! You could be exploring and sharing the following topics and way more.</p>
    <p>
    <%= link_to "Sign up", new_user_registration_path, :class => "btn btn-primary btn-large" %>
    or <%= link_to "sign in", new_user_session_path %> to an existing account
    </p>
  </div>
<% end %>

<div class="row" style="margin-bottom: 10px;">

  <div class="span12">
    <span class="search-text">I wanna learn about</span>
    <%= form_tag '/items/tag_filter',  { :remote => true, :id => "tag-search-form", :class => "form-search form-inline", :style => "display: inline; margin-left: 10px;" } do %>
      <input id="tag-search-input" class="search-query" type="text" name="tag" data-provide="tag-typeahead" placeholder="everything!" />
      <span id="tag-search-loading" class="hidden" >Loading...</span>
    <% end %>
  </div>

  
</div>
<div id="main-board" class="row-fluid">
  <%= render :partial => 'item_board' %>
</div>
