$(".scroll-col").html('');

<% unless @tag.blank? %>
  <% @col_array.each_with_index do |col, index| %>
    <% col.each do |item| %>
      $('.scroll-col').eq(<%= index %>).append("<div class='board'><%= j render item %></div>");

    <% end %>
  <% end %>
  $("#main-board").addClass('no-load');
<% end %>

$("#tag-search-loading").hide();
$("#main-board").show()
