<% unless @tag.blank? %>
  <h2><%= @tag.name %></h2>
  <br />
  <% @col_array.each do |col| %>

    <div class="span4 scroll-col">
    <% col.each do |i| %>
      <div class="board"
      <%= render i %>
      </div>
    <% end %>
    </div>

  <% end %>
<% end %>

