@import "bootstrap";
/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  line-height: 1.1em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* root page */

.search-text {
  font-family: 'Swanky and Moo Moo', cursive;
  font-size: 2.5em;
  font-weight: bold;
}

#tag-input {
  font-size: 1.5em;
  height: 25px;
}

/* board displays */

.board {
  background-color: white;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  padding: 1em;
  margin-bottom: 1em;
  overflow: auto;
}

/* items */

.item {
  background-color: #e9e9e9;

  .img-container {
    text-align: center;
  }
  h3 {
    margin-left: 1em;
    margin-right: 1em;
    padding: 0.5em 0 0.5em 0;
    text-align: center;
  }
  p {
    padding: 1em;
    /*background: white;*/
    font-size: 1em;
    line-height: 1.2em;
    cursor: pointer;
  }
  position: relative;
  .actions {
    display: none;
    position: absolute;
    top: 4px;
    left: 4px;
    form {
      display: inline;
    }
  }
  margin-bottom: 1em;
}

/* modal item styling */


.modal.in {
 width: 100%;
 height: 100%;
 max-height: 100%;
 position: fixed;
 margin: 0px;
 top: -1px;
 bottom: 0;
 right: 0;
 left: 0;
 overflow-y: scroll;

 background: none;

 .container { 

   margin-top: 60px;
   margin-bottom: 30px;
   background: white;
            box-shadow: 0 3px 8px rgba(34, 25, 25, 0.4);
            .row { background: white; margin-left: 20px;}
 }

  .modal-header { padding: 10px 50px; margin-left: -20px; }
  .modal-body { 
    padding: 20px 50px; 
    height: 100%; 
    padding-left: 50px;
    p { font-size: 14px; line-height: 18px; padding: 5px; }
    img { padding: 10px 20px 10px 0px; float: left; width: 300px }

  }
  .modal-footer { padding: 10px 50px; margin-left: -20px;}


  form { margin: 0px; }


}

/* Bootstrap modal changes... */
.modal-backdrop {

  opacity: .8;
  background: white;

}


/* front page */

.hero-unit {

  h1 { margin-bottom: .2em; }
  p { margin-bottom: .5em; }
}

/* about page */

#page-column {
  margin-bottom: 50px;
  p {
    font-size: 1.4em;
    line-height: 1.4em;
  }

  ul {
   margin-top: 20px; 
   font-size: 1.4em; 
   li { line-height: 1.8em; }
  }
  h1 { margin-bottom: .5em; }
  h2 { margin-bottom: .5em; }
  h3 { 
    margin-top: 1em;
    margin-bottom: .5em;
    font-size: 1.8em;
  }
}

/* comments */

.comment {
  position: relative;
  min-height: 50px;

  img {
    position: absolute;
  }

  .comment-contents {
    margin-left: 54px;
  }
}
